* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #0a0a0a;
  color: white;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App .header {
  background-color: #040404;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App .header .logo {
  color: white;
  font-size: 24px;
}

.App .scene {
  display: block;
  height: 100%;
}

.App .header .dropdown {
  color: white !important;
}
